* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 25px Roboto, sans-serif;
    background: #000000;
    -webkit-font-smothins: antialiasing;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-box{
    margin: auto;
    width: 40%;
    
    padding: 30px;
    text-align: center;
    
}

.input-box{
    display: block;
    margin-top: 15px;
}

.center {
    padding: 200px 0;
}

input{
    width:  325px;
    height: 55px;
    background-color:  #191A18;
    border: 0px;
    border-radius: 20px;
    padding:  0 24px;
    font-size: 19px;
    font-weight: bold;
    color:  white;
}

button{
    width:  325px;
    height: 55px;
    background-color:  #21EB00;
    border: 0px;
    border-radius: 20px;
    padding:  0 24px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 22px;
}

h3{
    margin-top: 25px;
    font-weight: lighter;
}